<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.collpasingtest">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!-- Splash Activity 맨 처음 등장. Label 없음 설정 -->
        <activity
            android:name=".views.SplashActivity"
            android:label="시프"
            android:theme="@style/base_theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.MainActivity"
            android:theme="@style/base_theme" />
        <activity
            android:name=".views.LoginActivity"
            android:theme="@style/base_theme" />
        <activity
            android:name=".views.ChatActivity"
            android:theme="@style/base_theme" />
        <activity
            android:name=".views.RouteAddActivity"
            android:theme="@style/base_theme" />
        <activity
            android:name=".views.TravelAddActivity"
            android:theme="@style/base_theme" />
        <activity
            android:name=".views.DetailTravelInfoActivity"
            android:theme="@style/base_theme" />
        <activity
            android:name=".views.SelectedRouteActivity"
            android:theme="@style/base_theme" />
        <activity
            android:name=".views.RouteSelectActivity"
            android:theme="@style/base_theme" />
        <activity
            android:name=".views.CitySelectActivity"
            android:theme="@style/base_theme" />
        <activity android:name=".views.RouteMapActivity"
            android:theme="@style/base_theme"></activity>
    </application>

</manifest>